@page "/students/create"
@inject VCard.Data.StudentDbContext DB
@using VCard.Model
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Student" OnValidSubmit="AddStudent" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Student.Name" class="form-control" /> 
                <ValidationMessage For="() => Student.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="birthdate" class="form-label">Birthdate:</label> 
                <InputDate id="birthdate" @bind-Value="Student.Birthdate" class="form-control" /> 
                <ValidationMessage For="() => Student.Birthdate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="gender" class="form-label">Gender:</label> 
                <InputText id="gender" @bind-Value="Student.Gender" class="form-control" /> 
                <ValidationMessage For="() => Student.Gender" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="pictureurl" class="form-label">PictureUrl:</label> 
                <InputText id="pictureurl" @bind-Value="Student.PictureUrl" class="form-control" /> 
                <ValidationMessage For="() => Student.PictureUrl" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/students">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public Student Student { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddStudent()
    {
        DB.Students.Add(Student);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/students");
    }
}
